<div  class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">About Me:</h2>
        <p class="lead">The amazing thing about being a programmer is that there is always something new to learn and discover. This excites the teacher, student, and world traveler in me, and I have been enjoying the wild ride of software development since I began! Watching something you’ve created come to life in a user's hands is one of the most rewarding experiences I’ve had, and I can’t wait to share that joy with more people, and on a much larger scale. I’m excited to be a part of this ever changing field, and can’t wait to learn, grow, and develop.</p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid circular" src="img/profile.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->