<div class="row">
    <div class="col-lg-6 my-auto">
      <h2>Contact Me:</h2>
    </div>
    <div class="col-lg-6 my-auto">
      <ul class="list-inline banner-social-buttons">
        <li class="list-inline-item">
          <a href="mailto:matthewfminner@gmail.com" class="btn btn-secondary btn-lg">
            <i class="fa fa-envelope fa-fw"></i>
            <span class="network-name">Email</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Mminner4248" class="btn btn-secondary btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/matt-minner-a4b790a7/" class="btn btn-secondary btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>