<div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Tech:</h2>
        <ul>
          <li>AngularJS</li>
          <li>Bootstrap</li>
          <li>GitHub</li>
          <li>Grunt</li>
          <li>Ruby</li>
          <li>Rails</li>
          <li>jQuery</li>
          <li>Javascript</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>Handlebars</li>
          <li>Firebase</li>
          <li>Visual Studio Code</li>
          <li>Materialize</li>
          <li>SQLite</li>
          <li>NPM</li>
        </ul>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="img/TechLogos.png" alt="">
      </div>
    </div>

  </div>
<!-- /.container -->